        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">BirdF2L</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#aboutModal">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            U-Sexy
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <span class="dropdown-item">
                                <a href="Je.html"><img src="img/Je.png" width="64px"/></a>
                                <a href="Ma.html"><img src="img/Ma.png" width="64px"/></a>
                                <samp>T</samp>
                            </span>
                            <span class="dropdown-item">
                                <a href="Cq.html"><img src="img/Cq.png" width="64px"/></a>
                                <a href="Cd.html"><img src="img/Cd.png" width="64px"/></a>
                                <samp>V</samp>
                            </span>
                            <span class="dropdown-item">
                                <a href="Jq.html"><img src="img/Jq.png" width="64px"/></a>
                                <a href="Md.html"><img src="img/Md.png" width="64px"/></a>
                                <samp>R</samp>
                            </span>
                            <span class="dropdown-item">
                                <a href="Me.html"><img src="img/Me.png" width="64px"/></a>
                                <a href="Ja.html"><img src="img/Ja.png" width="64px"/></a>
                                <samp>Q</samp>
                            </span>
                            <span class="dropdown-item">
                                <a href="Ce.html"><img src="img/Ce.png" width="64px"/></a>
                                <a href="Ca.html"><img src="img/Ca.png" width="64px"/></a>
                                <samp>U</samp>
                            </span>
                            <span class="dropdown-item">
                                <a href="Mq.html"><img src="img/Mq.png" width="64px"/></a>
                                <a href="Jd.html"><img src="img/Jd.png" width="64px"/></a>
                                <samp>S</samp>
                            </span>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            U-Pair
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <span class="dropdown-item">
                                <a href="Mi.html"><img src="img/Mi.png" width="64px"/></a>
                                <a href="Jb.html"><img src="img/Jb.png" width="64px"/></a>
                                <samp>I</samp>
                            </span>
                            <span class="dropdown-item">
                                <a href="Ci.html"><img src="img/Ci.png" width="64px"/></a>
                                <a href="Cb.html"><img src="img/Cb.png" width="64px"/></a>
                                <samp>N</samp>
                            </span>
                            <span class="dropdown-item">
                                <a href="Jm.html"><img src="img/Jm.png" width="64px"/></a>
                                <a href="Mc.html"><img src="img/Mc.png" width="64px"/></a>
                                <samp>J</samp>
                            </span>
                            <span class="dropdown-item">
                                <a href="Mm.html"><img src="img/Mm.png" width="64px"/></a>
                                <a href="Jc.html"><img src="img/Jc.png" width="64px"/></a>
                                <samp>K</samp>
                            </span>
                            <span class="dropdown-item">
                                <a href="Ji.html"><img src="img/Ji.png" width="64px"/></a>
                                <a href="Mb.html"><img src="img/Mb.png" width="64px"/></a>
                                <samp>L</samp>
                            </span>
                            <span class="dropdown-item">
                                <a href="Cm.html"><img src="img/Cm.png" width="64px"/></a>
                                <a href="Cc.html"><img src="img/Cc.png" width="64px"/></a>
                                <samp>M</samp>
                            </span>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            D-Sexy
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <span class="dropdown-item">
                                <a href="Ki.html"><img src="img/Ki.png" width="64px"/></a>
                                <a href="Pb.html"><img src="img/Pb.png" width="64px"/></a>
                                <samp>F</samp>
                            </span>
                            <span class="dropdown-item">
                                <a href="Pi.html"><img src="img/Pi.png" width="64px"/></a>
                                <a href="Kb.html"><img src="img/Kb.png" width="64px"/></a>
                                <samp>E</samp>
                            </span>
                            <span class="dropdown-item">
                                <a href="Vi.html"><img src="img/Vi.png" width="64px"/></a>
                                <a href="Vb.html"><img src="img/Vb.png" width="64px"/></a>
                                <samp>A</samp>
                            </span>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            D-Pair
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <span class="dropdown-item">
                                <a href="Mj.html"><img src="img/Mj.png" width="64px"/></a>
                                <a href="Jj.html"><img src="img/Jj.png" width="64px"/></a>
                                <samp>G</samp>

                            </span>
                            <span class="dropdown-item">
                                <a href="Mp.html"><img src="img/Mp.png" width="64px"/></a>
                                <a href="Jp.html"><img src="img/Jp.png" width="64px"/></a>
                                <samp>H</samp>
                            </span>
                            <span class="dropdown-item">
                                <a href="Kp.html"><img src="img/Kp.png" width="64px"/></a>
                                <a href="Pp.html"><img src="img/Pp.png" width="64px"/></a>
                                <samp>D</samp>
                            </span>
                            <span class="dropdown-item">
                                <a href="Kj.html"><img src="img/Kj.png" width="64px"/></a>
                                <a href="Pj.html"><img src="img/Pj.png" width="64px"/></a>
                                <samp>C</samp>
                            </span>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Other
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <span class="dropdown-item">
                                <a href="Cp.html"><img src="img/Cp.png" width="64px"/></a>
                                <samp>Y</samp>
                            </span>
                            <span class="dropdown-item">
                                <a href="Cj.html"><img src="img/Cj.png" width="64px"/></a>
                                <samp>X</samp>
                            </span>
                            <span class="dropdown-item">
                                <a href="Vp.html"><img src="img/Vp.png" width="64px"/></a>
                                <samp>Z</samp>
                            </span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/andydude/birdf2l">Source</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br/>
        <div class="modal" id="aboutModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">About BirdF2L</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>BirdF2L is a speedcubing algorithm database similar to <a href="http://birdflu.lar5.com/">Birdflu</a>, but instead of Last Layer (LL) algorithms, we are interested in First Two Layer (F2L) algorithms.
                        </p>
                        <p>BirdF2L was written by Andrew Robbins, with the speed calculation written by Lars Petrus.
                        </p>
                        <p>Send comments and questions to and_j_rob@yahoo.com.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
