        <a id="pattern-{{patid}}">&nbsp;</a>
        <form class="row">
            <div class="col-8">
            </div>
            <div class="col-4 form-check">
                <input class="form-check-input" type="checkbox" id="lastSlot" />
                <label class="form-check-label" for="lastSlot">
                    Last Slot
                </label>
            </div>
        </form>
        <div class="bf-pattern row">
            <div class="col-sm-9">
{{ algtable }}
            </div><!-- /.col -->
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="img/{{patid}}.png"/>
                    <div class="card-body">
                        <h5 class="card-title">Pattern {{patid}}</h5>
{{ infotable }}
                    </div>
                </div><!-- /.card -->
            </div><!-- /.col -->
        </div><!-- /.bf-pattern -->
        <div class="clearfix"></div>
