        <div class="bf-pattern" id="pattern-{{shortid}}">
            <div class="card float-right" style="width: 12rem;">
                <img class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Pattern {{shortid}}</h5>
{{ infotable }}
                </div>
            </div><!-- /.card -->
            <div class="container"  style="width: 60rem;">
{{ algtable }}
            </div><!-- /.container -->
        </div><!-- /.bf-pattern -->
        <div class="clearfix"></div>
        <hr/>