        <a id="pattern-{{shortid}}"/>
        <br/>
        <br/>
        <br/>
        <div class="bf-pattern">
            <div class="card float-right" style="width: 20%;">
                <img class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Pattern {{shortid}}</h5>
{{ infotable }}
                </div>
            </div><!-- /.card -->
            <div class="container-fluid" width="80%">
{{ algtable }}
            </div><!-- /.container -->
        </div><!-- /.bf-pattern -->
        <div class="clearfix"></div>
